* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #FFF7ED;
  max-width: 100vw;
  overflow-x: hidden;
}

/* typography */
a {
  color: #161616;
}

header h1 {
  margin: 0;
  font-weight: 900;
  font-size: 1.6rem;
}

.header-nav a,
.header-nav p {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  margin: 0 1.2vw;
  font-size: .9rem;
}

.logo {
  color: #000000;
}

.home h1 {
  font-weight: 800;
  color: #FFFFFF;
  line-height: 1.4;
  animation: fade-in 1.5s ease-in;
  -webkit-animation: fade-in 1.5s ease-in;
  -moz-animation: fade-in 1.5s ease-in;
  -ms-animation: fade-in 1.5s ease-in;
  -o-animation: fade-in 1.5s ease-in;
}

.home p{
  animation: fade-in 1.5s ease-in;
  -webkit-animation: fade-in 1.5s ease-in;
  -moz-animation: fade-in 1.5s ease-in;
  -ms-animation: fade-in 1.5s ease-in;
  -o-animation: fade-in 1.5s ease-in;
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(-50%);
  }

  100%{
    opacity: 1;
    transform: translateY(50);
  }
}

@-webkit-keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(-50%);
  }

  100%{
    opacity: 1;
    transform: translateY(50);
  }
}

@keyframes fade-in2{
  0%{
    opacity: 0;
  
  }

  100%{
    opacity: 1;
  }
}

@-webkit-keyframes fade-in2{
  0%{
    opacity: 0;
  
  }

  100%{
    opacity: 1;
  }
}

.vans h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #161616;
}

h2.login-first {
  color: #E17654;
  text-align: center;
}

.login-page h1 {
  text-align: center;
  color: #161616;
  font-weight: 700;
  font-size: 2rem;
}

.login-page h2 {
  text-align: center;
}

.NotFound h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #161616;
}

.hostvan-name {
  font-size: 700;
  font-size: 1.6rem;
  margin-top: .9rem;
  margin-bottom: .9rem;
}

.dashboard-welcome h1,
.income h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
  animation: fade-in2 1.5s ease-in;
  -webkit-animation: fade-in2 1.5s ease-in;
  -moz-animation: fade-in2 1.5s ease-in;
  -ms-animation: fade-in2 1.5s ease-in;
  -o-animation: fade-in2 1.5s ease-in;
}

.income h1 {
  margin-bottom: 2rem;
}

h1.dashboard-amount,
h1.income-amount {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}

.income-desc h3 {
  margin-top: .8rem;
  margin-bottom: 1.5rem;
}

.hostvan-price {
  margin-top: 0;
}

.hostvan-price span {
  font-weight: 500;
}

.home p {
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 2rem;
}

.review-text {
  font-weight: 600;
  font-size: 1rem;
  color: #161616;
}

p {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4;
}

.hostvan-type {
  display: inline-block;
  background: #E17654;
  border-radius: 4px;
  padding: .2rem .8rem;
  color: #FFEAD0;
  margin-bottom: 0;
}

.hostvan-details-desc p {
  font-weight: 500;
  font-size: .9rem;
}

.vans p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
  text-decoration-line: underline;
  color: #4D4D4D;
}

.van-details h2 {
  font-weight: 600;
  font-size: 1.25rem;
  color: #161616;
}

.van-details span {
  font-weight: 500;
  font-size: .8rem;
}

.chosen-van span {
  font-weight: 400;
  font-size: 1.2rem;
}

.income-desc span,
.income span {
  text-decoration: underline;
  font-weight: 700;
}

.income-desc h3,
.income h3 {
  color: #4D4D4D;
  font-weight: 500;
  font-size: 1rem;
}

.dashboard-review h2 {
  color: #161616;
  font-weight: 700;
  font-size: 1.5rem;
}

.your-vans h2,
.your-vans p {
  margin: 0;
}

.dashboard-review span {
  font-weight: 500;
  color: #4D4D4D;
}

.dashboard-review h3 {
  margin-left: auto;
  color: #161616;
  font-size: 1rem;
  font-weight: 500;
}

.chosen-van p {
  font-weight: 500;
  font-size: 1rem;
  color: #161616;
  line-height: 1.5;
}

.About-container p {
  color: #161616;
  font-weight: 500;
  margin-top: 1.4rem;
}

.login-page p {
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
}

.edit-actions {
  margin-left: auto;
}

.edit p {
  margin-top: 0;
  margin-bottom: .3rem;
}

.delete-van {
  margin: 0;
}

.delete-van:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

a.edit:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

.login-page span {
  color: #FF8C38;
}

footer p {
  font-weight: 500;
  font-size: .9rem;
  color: #AAAAAA;
  margin: 0;
}

.About-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  color: #161616;
  margin: 0;
}

.explore h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #161616;
  margin: 0;
}

.van-desc h2,
.van-desc h3 {
  margin: 0;
}

.van-desc h2 {
  font-weight: 600;
  font-size: 20px
}

.van-desc h3 {
  color: #4D4D4D;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
}

.van-detail-page a {
  font-weight: 500;
  font-size: 1rem;
  text-decoration-line: underline;
  color: #201F1D;
}

a.forgot-password {
  display: block;
  text-align: right;
  margin-top: .5rem;
  font-weight: 500;
}

.van-image-label {
  margin-right: 1rem;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.van-image-label span {
  display: inline-block;
  margin-right: 10px;
}

.upload-image {
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 500;
}

.google-sign-in p {
  margin: 0;
}

p.or {
  text-align: center;
  width: fit-content;
  margin: -1rem auto 0 auto;
  font-size: 1.2rem;
  background: #FFF7ED;
}

p.log-out {
  margin-right: 0;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0;
  border-color: #201F1D;
}

.verify-mail {
  background-color: #ff8c38;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #FFFFFF;
  font-size: .7rem;
  z-index: 1000;
}

.filters p:hover {
  cursor: pointer;
}

.back-to-dashboard {
  display: block;
  margin: 1.5rem 0;
}

.delete-question {
  text-align: center;
  font-weight: 600;
  color: #ff8c38;
  font-size: 1.4rem;
}


.van-to-delete {
  display: block;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.options {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

.delete {
  color: #FFF7ED;
  background-color: #252525;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.cancel {
  background-color: #FF8C38;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.options:is(:hover, :focus) {
  cursor: pointer;
  opacity: .9;
  transform: scaleX(1.1);
}

.date,
.name,
p.review-name,
p.review-date {
  color: #8C8C8C;
  font-weight: 600;
  font-size: 1rem;
}

.date,
.name {
  margin-top: 0;
  margin-bottom: .5rem;
}

.name,
p.review-name {
  color: #161616;
  text-transform: capitalize;
}

p.review-date {
  margin-right: 1rem;
}

.review-header {
  margin-top: 2rem;
  margin-bottom: .8rem;
}

.review-text {
  margin: 0;
  font-weight: 400;
}

.fa-trash {
  margin-left: auto;
}

p.van-review-text {
  font-weight: 400;
  margin-top: -.7rem;
}

.add-van p {
  font-weight: 500;
}

.add-van p,
.fa-circle-plus {
  font-size: 1.5rem;
  margin: 0;
}

.email-modal p {
  margin: .5rem 0;
  font-weight: 600;
}

.van-added {
  font-size: 1.7rem;
  font-weight: 500;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

.van-updated {
  font-size: 1.8rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.have-an-account{
  margin-bottom: 2.5rem;
}


/* images */

img {
  max-width: 100%;
}

/* utility classes */

.active {
  text-decoration: underline;
  font-weight: 700;
}

.simple {
  background: #E17654;
}

.rugged {
  background: #115E59;
}

.luxury {
  background: #161616;
}

.padding {
  padding: 1rem;
}

.underline {
  text-decoration: underline;
}

.error-message {
  text-align: center;
  color: #FF8C38;
}

.success-message {
  color: green;
  font-weight: 500;
  text-align: center;
}

.hide {
  display: none;
}


/* layout */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #FFF7ED;
  box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.1);
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  background: #FFDDB3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 0;
}

.fa-user:hover{
  transform: scale(1.2);
}

nav a:last-child {
  margin-right: 0;
}

nav a:is(:hover, :focus) {
  text-decoration: underline;
}

footer {
  height: 80px;
  text-align: center;
  padding: 2rem 0;
  background: #252525;
  width: 100%;
  margin-top: auto;
}

main {
  padding-top: 70px;
  padding-bottom: 60px;
}

.home {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 2rem;
}

.home a {
  display: block;
}

button,
.home a {
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  text-align: center;
}

.home button,
.home a {
  width: 100%;
  background: #FF8C38;
  border-radius: 5px;
  color: #FFFFFF;
  margin-top: 3rem;
}


.explore button {
  background: #161616;
  border-radius: 10px;
  color: #FFFFFF;
  margin-top: 1.5rem;
}

.vanImgContainer {
  width: 100%;
  object-fit: cover;
}

.vanCover-image {
  width: 100%;
}

.explore {
  width: 100%;
  background: #FFCC8D;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 3.5rem;
}

.filters {
  display: flex;
  align-items: center;
  gap: 4%;
  flex-wrap: wrap;
}

.filters button {
  background: #FFEAD0;
  color: #4D4D4D;
  font-weight: 500;
  padding: .5rem 1.5rem;
  border-radius: 5px;
}

.simple-filter:is(:hover, :focus) {
  background: #E17654;
  color: #FFEAD0;
  cursor: pointer;
}

.luxury-filter:is(:hover, :focus) {
  background: #161616;
  color: #FFEAD0;
  cursor: pointer;
}

.rugged-filter:is(:hover, :focus) {
  background: #115E59;
  color: #FFEAD0;
  cursor: pointer;
}

.vans-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(Auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.van-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  min-height: 250px;
  border-radius: 5px;
  animation: fade-in2 1.5s ease-in;
  -webkit-animation: fade-in2 1.5s ease-in;
  -moz-animation: fade-in2 1.5s ease-in;
  -ms-animation: fade-in2 1.5s ease-in;
  -o-animation: fade-in2 1.5s ease-in;
}

.van-details {
  display: flex;
  justify-content: space-between;
}

.van .van-type,
.chosen-van .van-type {
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  color: #FFEAD0;
  text-decoration: none;
  display: inline-block;
  padding: .5rem .7rem;
  margin-top: 0;
}

.chosen-van .van-type {
  margin-top: 4rem;
}

.fa-arrow-left {
  margin-right: 7px;
}

.chosen-van {
  margin-top: 3rem;
}

.rent-van,
.sign-in {
  width: 100%;
  background: #FF8C38;
  border-radius: 4.98319px;
  margin-top: 1rem;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.2rem;
}

.rent-van {
  margin-bottom: 1rem;
}

.post-comment {
  color: #000000;
  margin: 1rem 0;
  background-color: #D1D5DB;
  border-radius: 5px;
}

.post-comment:is(:hover, :focus) {
  cursor: pointer;
  opacity: .8;
}

.sign-in {
  margin-top: 2rem;
}

.rent-van:is(:hover, :focus) {
  cursor: pointer;
  opacity: .9;
}

.sign-in:is(:hover, :focus) {
  cursor: pointer;
  opacity: .9;
}

.form {
  margin-top: 3rem;
}

input,
select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  padding: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5"><path d="M8,0H0L4,5Z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: right 8px center;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #FF8C38;
}

input[type=file] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

textarea {
  width: 100%;
  margin-top: 1rem;
  height: 150px;
  max-height: 200px;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
  padding: .5rem;
}

button:disabled,
.post-comment:disabled,
.sign-in:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.NotFound {
  margin-top: 3rem;
}

.Notfound-btn {
  width: 100%;
  background-color: #161616;
  border-radius: 5px;
  margin-top: 1rem;
}

.Notfound-btn a {
  color: #FFFFFF;
}

.host {
  margin-top: 2.5rem;
}

.host-nav {
  display: flex;
  gap: 3%;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  top: 70px;
  background-color: #4D4D4D;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1000;
}

.host-nav a {
  font-size: .9rem;
  color: #FFFFFF;
}

  

.dashboard-welcome {
  padding-top: 2rem;
  background: #FFEAD0;
  margin-top: 3rem;
}

.income{
  padding-top: 1rem;
}

.income-desc {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.dashboard-review {
  background: #FFDDB3;
  display: flex;
  align-items: center;
  gap: 3%;
}

.your-vans {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vans-list, .host-list {
  margin: 1rem 0;
  padding: 1rem;
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.vans-list-image {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 1rem;
}

.vans-list-container {
  padding: 1rem;
  margin: 0;
}

.van-review-container {
  position: relative;
  margin-bottom: 2rem;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70vw;
  height: fit-content;
  margin: auto;
  background-color: #FFF7ED;
  border-radius: 5px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}

.delete-option {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.van-desc {
  margin-right: .9rem;
}

.vans-list:first-child {
  margin-top: 0;
}

.host-vans {
  padding: 1rem;
  margin: 0;
  margin-top: 5rem;
}

.reviews {
  margin-top: 60px;
}

.review-img-container {
  padding: 2rem;
  background: #FFFFFF;
}

.review-container {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 2rem 0;
}

.review-star {
  color: #ff8c38;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
}


.review {
  margin: 1rem 0;
}


.income {
  margin-top: 1rem;
}

.income-img-container {
  background-color: #FFFFFF;
  padding: 2rem 2rem 0;
}

.income-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions {
  margin-top: 0;
  padding: 0 1rem;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 2rem 1rem;
  border-radius: 6px;
}

.transaction h2,
.transaction h3 {
  margin: 0;
}

.hostVanDetail {
  margin-top: 4rem;
}

.hostVanDetail section {
  background-color: #FFFFFF;
  border-radius: 6px;
}

.host-container {
  margin-top: 2.5rem;
}

.hostVanDetail-container {
  display: flex;
}

.host-van-img {
  width: 150px;
  margin-right: 2rem;
  border-radius: 6px;
}

.hostVanDetail-container .hostVan-nav:first-child {
  margin: 0;
}

.hostVan-nav {
  margin-top: 1.5rem;
  display: flex;
  gap: 4%;
}

.host-van-details {
  margin-top: 2rem;
}

.photos-img {
  margin-top: 2rem;
  width: 100px;
  border-radius: 5px;
}

.loader,
.loader2 {
  font-size: 3rem;
  animation: spinner 1s linear infinite;
  position: absolute;
  top: 50vh;
  left: 45%;
  z-index: 1000;
}

.loader2 {
  top: 50%;
}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.log-out:is(:hover, :focus) {
  text-decoration: underline;
  cursor: pointer;
}

.progress-container {
  width: 150px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #FF8C38;
  margin: 3px 0;
  border-radius: 5px;
}

.google-sign-in {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.google-sign-in:hover {
  cursor: pointer;
}

.google-icon {
  width: 40px;
}

.host-van-image {
  margin: .5rem auto;
  width: 50%;
}

.label {
  display: inline-block;
  margin: .5rem 0;
}

.no-vans {
  text-align: center;
  margin-bottom: 1rem;
}

.add-van {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  color: #115E59;
}

.add-van:is(:hover, :focus) {
  font-weight: 600;
  cursor: pointer;
  color: #000000;
}

.add-van-container,
.edit-van-container {
  padding: 2rem;
  padding-top: 3rem;
  position: relative;
}

.email-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 50%;
  height: fit-content;
  margin: 0 auto;
  background-color: #115E59;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 3px;
  z-index: 1000;
}



.fa-xmark {
  display: block;
  font-size: 1.5rem;
  background-color: #000000;
  padding: 5px 10px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: -1.5rem;
  margin-top: -1.5rem;
}

.fa-xmark:hover,
.fa-trash:hover{
  cursor: pointer;
}



/* media queries */

@media (min-width: 550px) {

  .header-nav a,
  .header-nav p {
    font-size: 1.1rem;
  }

  header {
    padding: 2rem;
  }

  .host-nav a {
    font-size: 1rem;
  }

  .host-nav {
    padding: 20px 2rem;
  }

  .padding {
    padding: 2rem;
  }

  .vans-list-container, .host-vans {
    padding: 0 2rem;
  }

  .delete-modal{
    width: 400px;
  }

}

@media (min-width: 800px) {

  .grid {
   display: grid;
   grid-column-gap: 15%;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: 
   "van-details-size van-review-container"
   "rent-and-review van-review-container";
  }

  .van-details-size{
    grid-area: van-details-size;
  }

  .rent-and-review{
    grid-area: rent-and-review;
  }

  .van-review-container{
    height: fit-content;
    grid-area: van-review-container;
  }


  .review-header {
    margin-top: 0;
  }

}

@media (min-width: 1000px) {
  .layout, .verify-mail {
    width: 80vw;
    margin: 0 auto;
  }

  header{
    height: 100px;
    position: fixed;
    top: 0;
    width: 80vw;
  }

  main{
    padding-top: 100px;
  }

  .home {
    text-align: center;
    margin-top: 2rem;
    border-radius: 5px;
  }

  .home a,
  .home button {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    transform: scale(1.1);
  }

  .home p,
  .home h1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transform: scale(1.3);
  }

  .host {
    display: flex;
  }

  .host-nav {
    flex-direction: column;
    background-color: #FFEAD0;
    /* margin-right: 2rem; */
    padding-top: 2rem;
    border-radius: 5px;
    top: unset;
    height: 50vh;
    position: fixed;
    width: 20%;

  }

  footer{
    z-index: 10;
  }

  .dashboard,
  .add-van-container,
  .reviews,
  .host-vans,
  .hostVanDetail,
  .income,
  .edit-van-container {
    width: 70%;
    margin-left: 30%;
  }

  .host-nav a {
    display: block;
    color: #161616;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .dashboard-welcome,
  .income {
    margin-top: 0;
  }

  .edit-actions{
    display: flex;
    gap: .7rem;
  }

  .income h1 {
    font-size: 3.5rem;
  }

  .income h3 {
    font-size: 1.5rem;
  }

  header {
    border-radius: 0px 0px 15px 15px;
  }

  .about-container {
    margin-top: 2rem;
    display: flex;
  }

  .vanImgContainer {
    padding: 2rem 0;
    width: 50%;
  }

  .vanCover-image {
    height: 100%;
    object-fit: cover;
  }

  .explore h2 {
    font-size: 1.7rem;
  }

  .explore button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

.van-review-container{
  background: #FFDDB3;
  padding: 1.5rem;
  border-radius: 5px;
}

.login-page{
  width: 50%;
  margin: 0 auto;
}

.hostVanDetail, .host-vans{
  margin-top: 0;
}

.add-van-container,
.edit-van-container {
  width: 50%;
  padding: 0 4rem;
}

.delete-modal{
  left: 20vw;
}

.income{
  padding-top: unset;
}

.reviews {
  margin-top: 0;
}

.host-container{
  width: 90%;
}

}

@media (min-width: 1600px){
  .vans-list-container, .host-vans-list{
    display: flex;
    align-items: flex-start;
    gap: 2%;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    padding-top: 0;
  }
  
  .vans-list, .host-list-container{
    margin-top: 0;
    flex-basis: 49%;
  }

  .host-container, .review-img-container, .review-container{
    width: 70%;
  }
}